<h1>Listing upcs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @barcodes.each do |upc| %>
  <tr>
    <td><%= link_to 'Show', upc %></td>
    <td><%= link_to 'Edit', edit_admin_barcode_path(upc) %></td>
    <td><%= link_to 'Destroy', upc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upc', new_admin_barcode_path %>
